body {
    background-color: #f6f6f4;
}

h1 {
    font-size:2em;
}

h2, h3 {
    color: #423a52;
}

p {
    color: #41337A;
}

.hobbies { 
    padding: 10px;
    margin: 10px;
    background-color: #dacfde;
    border: 1px solid #41337A;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #41337A;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ad9ecb;
}

td {
    background-color: #dacfde;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    padding: 5px;
    border: 1px solid #41337A;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #8c70c1;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #7e66aa;
}